.profile {
    padding: 3vw 8vw;
  
    h4 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
    .title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin-bottom: 2rem;
  
      h3 {
        color: #fff;
        font-size: 4rem;
        line-height: 4.5rem;
        font-weight: bold;
      }
      img {
        width: 15rem;
        object-fit: contain;
        border-radius: 3px;
        box-shadow: 0px 1px 3px #000000;
      }
    }
  
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
  
      h4 {
        grid-column: 1 / -1;
        color: #f1f1f1;
      }
  
      h3 {
        grid-column: 1 / -1;
        font-size: 1.6rem;
        color: #f1f1f1;
        margin-top: 2rem;
        font-weight: bold;
      }
    }
  
    .bar {
      background-color: #2f2f2f;
      height: 0.4rem;
      border-radius: 1px;
    }
  
    .background {
      p {
        margin-bottom: 1.5rem;
        line-height: 2.5rem;
      }
      summary {
        font-style: italic;
        outline: none;
        cursor: pointer;
      }
    }
  
    .jobs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      grid-column-gap: 2rem;
  
      h4 {
        grid-column: 1 / -1;
        color: #f1f1f1;
      }
  
      .gridTwo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 4rem;
      }
    }
    .year {
      font-weight: bold;
      padding-right: 1rem;
      color: #e7e7e7;
    }
  
    .studies {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  
      span {
        margin-right: 0.5rem;
      }
    }
    h4 {
      color: #f1f1f1;
    }
    p {
      color: #b1b1b1;
    }
  
    /* SEPARATORS */
    .skills,
    .jobs,
    .background,
    .studies {
      padding-bottom: 3rem;
      border-bottom: 1px solid #353535;
      color: #b1b1b1;
    }
  }
  