@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-xs {
  display: none;
}
.jus-end {
  justify-self: flex-end;
}

.close {
  color: #fff !important;
  background: #464646 !important;
}
